*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;
  background: linear-gradient(45deg,#629584,#243642);
}

.container{
  width: 300px;
}

.container input[type="text"]{
  padding: 15px 20px;
  width: inherit;
  border-radius: 100px;
  border: none;
}

.container input[type="text"]:focus{
  outline: none;
}

.container input[type="text"]::placeholder{
  font-size: 15px;
  font-weight: 500;
  padding-left: 5px;
}